<!DOCTYPE html>
<html lang="en">
<head>

	<title>Header Responsive</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="js/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">

</head>
<body class="has-standard-header body-bg-white page-has-left-panels page-has-right-panels">

{{> preloaders/preloader-main }}

{{> headers-navigations/left-panel }}

{{> headers-navigations/left-panel-responsive }}

{{> headers-navigations/right-panel }}

{{> headers-navigations/right-panel-responsive }}

{{> headers-navigations/header-standard-dark }}


<div class="header-spacer--standard"></div>

{{> headers-navigations/main-header-blogs
	stunning-title="Olympus Blog"
	stunning-text="Welcome to our blog! Here you’ll find news about the latest features of our network, plugins,
	interviews with our developers and lots of other cool things! We also feature the best profiles and fan pages,
	so keep an eye out or let us know if you wanna appear here or if you wanna nominate someone."
}}


<div class="container">
	<div class="row mt50">

		<div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
			<div class="ui-block mb60">

				{{> single-posts/single-post-v3 }}

			</div>

			<div class="crumina-module crumina-heading with-title-decoration">
				<h5 class="heading-title">Comments (14)</h5>
			</div>

			{{> comments/comment-list-style3}}

			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12  align-center">
				<a href="#" class="btn btn-purple btn-md mb60 mt60">Load More Comments...</a>
			</div>

			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

				{{> forms/comment-form-CP}}

			</div>

		</div>

		<div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
			<aside class="blog-post-wrap">
				<div class="crumina-module crumina-heading with-title-decoration">
					<h5 class="heading-title">Featured Posts</h5>
				</div>

				<div class="ui-block">

					{{> posts/postsV3-featured1}}

				</div>

				<div class="ui-block">

					{{> posts/postsV3-featured2}}

				</div>

				<div class="ui-block">

					{{> posts/postsV3-featured3}}

				</div>

				<div class="ui-block">

					{{> posts/postsV3-featured4}}

				</div>

			</aside>
		</div>

	</div>

</div>

{{> footers/footer-without-copyright }}

{{> windows-popup/window-chat-responsive}}

{{> back-to-top}}


<!-- JS Scripts -->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/perfect-scrollbar.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/svgxuse.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>
<script src="js/Headroom.js"></script>
<script src="js/velocity.js"></script>
<script src="js/ScrollMagic.js"></script>
<script src="js/jquery.waypoints.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/material.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/smooth-scroll.js"></script>
<script src="js/selectize.js"></script>
<script src="js/swiper.jquery.js"></script>
<script src="js/moment.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/simplecalendar.js"></script>
<script src="js/fullcalendar.js"></script>
<script src="js/isotope.pkgd.js"></script>
<script src="js/ajax-pagination.js"></script>
<script src="js/Chart.js"></script>
<script src="js/chartjs-plugin-deferred.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/loader.js"></script>
<script src="js/run-chart.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/jquery.gifplayer.js"></script>
<script src="js/mediaelement-and-player.js"></script>
<script src="js/mediaelement-playlist-plugin.min.js"></script>
<script src="js/ion.rangeSlider.js"></script>

<script src="js/base-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>