<!DOCTYPE html>
<html lang="en">
<head>

	<title>Community Badges</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">

	<!-- Main Font -->
	<script src="js/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>


</head>
<body class="page-has-left-panels page-has-right-panels">

{{> preloaders/preloader-main }}

{{> headers-navigations/left-panel }}

{{> headers-navigations/left-panel-responsive }}

{{> headers-navigations/right-panel }}

{{> headers-navigations/right-panel-responsive }}

{{> headers-navigations/header-BP page-title="community badges" }}

{{> headers-navigations/header-BP-responsive }}

<div class="header-spacer header-spacer-small"></div>

{{> headers-navigations/main-header-badges
	stunning-title="Collect your Badges!"
	stunning-text="Welcome to your badge collection! Here you’ll find all the badges you can unlock to show on your profile.
	 Learn how to achive the goal to adquire them and collect them all. Some have leveled tiers and other don’t.
	 You can challenge your friends to see who gets more and let the fun begin!"
}}



<!-- Main Content Badges -->

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges1 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges2 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges3 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges4 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges5 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges6 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges7 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges8 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges9 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges10 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges11 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges12 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges13 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges14 }}

			</div>

			<div class="ui-block">

				{{> birthsday-items-badges/birthsday-item-badges15 }}

			</div>

		</div>
	</div>
</div>

<!-- ... end Main Content Badges -->


{{> windows-popup/window-chat-responsive}}

{{> back-to-top}}


<!-- JS Scripts -->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/perfect-scrollbar.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/svgxuse.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>
<script src="js/Headroom.js"></script>
<script src="js/velocity.js"></script>
<script src="js/ScrollMagic.js"></script>
<script src="js/jquery.waypoints.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/material.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/smooth-scroll.js"></script>
<script src="js/selectize.js"></script>
<script src="js/swiper.jquery.js"></script>
<script src="js/moment.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/simplecalendar.js"></script>
<script src="js/fullcalendar.js"></script>
<script src="js/isotope.pkgd.js"></script>
<script src="js/ajax-pagination.js"></script>
<script src="js/Chart.js"></script>
<script src="js/chartjs-plugin-deferred.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/loader.js"></script>
<script src="js/run-chart.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/jquery.gifplayer.js"></script>
<script src="js/mediaelement-and-player.js"></script>
<script src="js/mediaelement-playlist-plugin.min.js"></script>
<script src="js/ion.rangeSlider.js"></script>

<script src="js/base-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>
