<!DOCTYPE html>
<html lang="en">
<head>

	<title>Your Account - Tabs Version</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">

	<!-- Main Font -->
	<script src="js/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>


</head>
<body class="page-has-left-panels page-has-right-panels">

{{> preloaders/preloader-main }}

{{> headers-navigations/profile-settings-responsive-tabs }}

{{> headers-navigations/left-panel }}

{{> headers-navigations/left-panel-responsive }}

{{> headers-navigations/right-panel }}

{{> headers-navigations/right-panel-responsive }}

{{> headers-navigations/header-BP page-title="your account" }}

{{> headers-navigations/header-BP-responsive }}

<div class="header-spacer header-spacer-small"></div>

{{> headers-navigations/main-header-account
	stunning-title="Your Account Dashboard"
	stunning-text="Welcome to your account dashboard! Here you’ll find everything you need to change your profile
	information, settings, read notifications and requests, view your latest messages, change your pasword and much
	more! Also you can create or manage your own favourite page, have fun!"
}}


<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Personal Information</h6>
						</div>
						<div class="ui-block-content">
							{{> forms/form-personal-information}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Account Settings</h6>
						</div>
						<div class="ui-block-content">
							{{> forms/form-account-settings}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Change Password</h6>
						</div>
						<div class="ui-block-content">

							{{> forms/form-change-password}}

						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="hobbies" role="tabpanel" aria-labelledby="hobbies-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Hobbies and Interests</h6>
						</div>
						<div class="ui-block-content">

							{{> forms/hobbies-and-interests-form}}

						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Your Education History</h6>
						</div>
						<div class="ui-block-content">

							{{> forms/education-history-form}}

						</div>
					</div>
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Your Employement History</h6>
						</div>
						<div class="ui-block-content">

							{{> forms/employement-history-form}}

						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Notifications</h6>
							<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
						</div>

						{{> notification-list/notification-list }}

					</div>

					{{> page-navigation/pagination }}
				</div>
				<div class="tab-pane fade" id="chat-message" role="tabpanel" aria-labelledby="chat-message-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Chat / Messages</h6>
							<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
						</div>

						<div class="row">
							<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12 padding-r-0">

								{{> notification-list/notification-list-chat-messages }}

								{{> windows-popup/popup-chat }}

							</div>

							<div class="col col-xl-7 col-lg-6 col-md-12 col-sm-12 col-12 padding-l-0">

								{{> notification-list/chat-field }}

							</div>
						</div>

					</div>

					{{> page-navigation/pagination }}
				</div>
				<div class="tab-pane fade" id="friend" role="tabpanel" aria-labelledby="friend-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Friend Requests</h6>
							<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
						</div>

						{{> notification-list/notification-list-friend-requests }}

					</div>
				</div>
				<div class="tab-pane fade" id="create-fav" role="tabpanel" aria-labelledby="create-fav-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Favorite Page Information</h6>
						</div>
						<div class="ui-block-content">

							{{> forms/form-favorite-page-information }}

						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="settings-fav" role="tabpanel" aria-labelledby="settings-fav-tab">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Favourite Page Settings</h6>
						</div>
						<div class="ui-block-content">

							{{> forms/form-favorite-page-settings }}

						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="desktop-container-panel" class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
			<div class="ui-block">

				{{> headers-navigations/your-profile-tabs }}

			</div>
		</div>
	</div>
</div>

<!-- ... end Your Account Personal Information -->


{{> windows-popup/window-chat-responsive}}

{{> back-to-top}}


<!-- JS Scripts -->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/perfect-scrollbar.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/svgxuse.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>
<script src="js/Headroom.js"></script>
<script src="js/velocity.js"></script>
<script src="js/ScrollMagic.js"></script>
<script src="js/jquery.waypoints.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/material.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/smooth-scroll.js"></script>
<script src="js/selectize.js"></script>
<script src="js/swiper.jquery.js"></script>
<script src="js/moment.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/simplecalendar.js"></script>
<script src="js/fullcalendar.js"></script>
<script src="js/isotope.pkgd.js"></script>
<script src="js/ajax-pagination.js"></script>
<script src="js/Chart.js"></script>
<script src="js/chartjs-plugin-deferred.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/loader.js"></script>
<script src="js/run-chart.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/jquery.gifplayer.js"></script>
<script src="js/mediaelement-and-player.js"></script>
<script src="js/mediaelement-playlist-plugin.min.js"></script>
<script src="js/ion.rangeSlider.js"></script>

<script src="js/base-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>
