<!DOCTYPE html>
<html lang="en">
<head>

	<title>Blog Version1 Masonry</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">

	<!-- Main Font -->
	<script src="js/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

</head>
<body class="page-has-left-panels page-has-right-panels">

{{> preloaders/preloader-main }}

{{> headers-navigations/left-panel }}

{{> headers-navigations/left-panel-responsive }}

{{> headers-navigations/right-panel }}

{{> headers-navigations/right-panel-responsive }}

{{> headers-navigations/header-BP page-title="Blog V1 Grid" }}

{{> headers-navigations/header-BP-responsive }}

<div class="header-spacer header-spacer-small"></div>

{{> headers-navigations/main-header-blogs
	stunning-title="Olympus Blog"
	stunning-text="Welcome to our blog! Here you’ll find news about the latest features of our network, plugins,
	 interviews with our developers and lots of other cool things! We also feature the best profiles and fan pages,
	 so keep an eye out or let us know if you wanna appear here or if you wanna nominate someone."
}}


<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex1200">
				<div class="ui-block-title">
					<ul class="filter-icons">
						<li>
							<a href="#">
								<img src="img/icon-chat2.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat15.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat9.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat4.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat6.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat26.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat27.png" alt="icon">
							</a>
						</li>
					</ul>
					<div class="w-select">
						<div class="title">Filter By:</div>
						<fieldset class="form-group">
							<select class="selectpicker form-control">
								<option value="NU">All Categories</option>
								<option value="NU">Favourite</option>
								<option value="NU">Likes</option>
							</select>
						</fieldset>
					</div>

					<div class="w-select">
						<fieldset class="form-group">
							<select class="selectpicker form-control">
								<option value="NU">Date (Descending)</option>
								<option value="NU">Date (Ascending)</option>
							</select>
						</fieldset>
					</div>

					<a href="#" data-toggle="modal" data-target="#create-photo-album" class="btn btn-primary btn-md-2">Filter</a>

					<form class="w-search">
						<div class="form-group with-button">
							<input class="form-control" type="text" placeholder="Search Blog Posts......">
							<button>
								<svg class="olymp-magnifying-glass-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row sorting-container" id="posts-grid-1" data-layout="masonry">
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
			<div class="ui-block">

				{{> posts/postsV1-1}}

			</div>
		</div>
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
			<div class="ui-block">

				{{> posts/postsV1-2}}

			</div>
		</div>
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
			<div class="ui-block">

				{{> posts/postsV1-3}}

			</div>
		</div>
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
			<div class="ui-block">

				{{> posts/postsV1-4}}

			</div>
		</div>
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
			<div class="ui-block">

				{{> posts/postsV1-5}}

			</div>
		</div>
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
			<div class="ui-block">

				{{> posts/postsV1-6}}

			</div>
		</div>
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
			<div class="ui-block">

				{{> posts/postsV1-7}}

			</div>
		</div>
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
			<div class="ui-block">

				{{> posts/postsV1-8}}

			</div>
		</div>
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
			<div class="ui-block">

				{{> posts/postsV1-9}}

			</div>
		</div>
	</div>
	<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="posts-load-more.html" data-container="posts-grid-1">
		<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
	</a>
</div>


{{> windows-popup/window-chat-responsive}}

{{> back-to-top}}


<!-- JS Scripts -->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/perfect-scrollbar.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/svgxuse.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>
<script src="js/Headroom.js"></script>
<script src="js/velocity.js"></script>
<script src="js/ScrollMagic.js"></script>
<script src="js/jquery.waypoints.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/material.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/smooth-scroll.js"></script>
<script src="js/selectize.js"></script>
<script src="js/swiper.jquery.js"></script>
<script src="js/moment.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/simplecalendar.js"></script>
<script src="js/fullcalendar.js"></script>
<script src="js/isotope.pkgd.js"></script>
<script src="js/ajax-pagination.js"></script>
<script src="js/Chart.js"></script>
<script src="js/chartjs-plugin-deferred.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/loader.js"></script>
<script src="js/run-chart.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/jquery.gifplayer.js"></script>
<script src="js/mediaelement-and-player.js"></script>
<script src="js/mediaelement-playlist-plugin.min.js"></script>
<script src="js/ion.rangeSlider.js"></script>

<script src="js/base-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>